<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>consume record</title>
</head>

<body>
<div>
	<img alt="图片展示" th:src="@{'http://localhost:8088/image/win10.jpg'}" />
</div>

<div>
	<label th:text="${year} + '年度：' +${total}"></label>
	<ul th:each="entry:${months}">
		<li th:text="${entry.num} + '：' + ${entry.total}"></li>
		<a th:href="@{'http://localhost:8088/show/month/'+${entry.num}+'?url='+${entry.path}}" target="_blank">Detail</a>
	</ul>
</div>

<p>
<a href="http://localhost:8088/add">Add</a>
</body>
</html>